<div class="container">

  <div class="grid">

    <div class="col-12">
      <h1>{{ !auth.hasPermission('INSTALATION_WRITE') ? 'Detalhe' : updating ? 'Atualização' : 'Cadastro'}} de Planta</h1>
    </div>

  </div>

  <form #f="ngForm" (submit)="save(f)">
    <div class="grid">
      <div class="col-12">
        <h3>Dados gerais</h3>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-3 p-fluid">
        <label>Código</label>
        <input [readOnly]="!auth.hasPermission('INSTALATION_WRITE')" pInputText type="text" name="code" [(ngModel)]="plant.code" ngModel #code="ngModel" [required]="true"
          [minlength]="2" [maxlength]="10">
        <app-message [control]="code.control" error="required" text="Campo obrigatório"></app-message>
        <app-message [control]="code.control" error="minlength"
          text="Mínimo {{code.errors?.['minlength']?.requiredLength}} caracteres"></app-message>
      </div>
  
      <div class="col-12 md:col-9 p-fluid">
        <label>Nome</label>
        <input [readOnly]="!auth.hasPermission('INSTALATION_WRITE')" pInputText type="text" name="name" [(ngModel)]="plant.name" ngModel #name="ngModel" [required]="true"
          [minlength]="4" [maxlength]="60">
        <app-message [control]="name.control" error="required" text="Campo obrigatório"></app-message>
        <app-message [control]="name.control" error="minlength"
          text="Mínimo {{name.errors?.['minlength']?.requiredLength}} caracteres"></app-message>
        <app-message [control]="name.control" error="maxlength"
          text="Máximo {{name.errors?.['maxlength']?.requiredLength}} caracteres"></app-message>
      </div>

      <div class="col-12 md:col-8 p-fluid">
        <label>Cidade</label>
        <input [readOnly]="!auth.hasPermission('INSTALATION_WRITE')" pInputText type="text" name="city" [(ngModel)]="plant.address.city" ngModel #city="ngModel"
          [required]="true" [maxlength]="40">
        <app-message [control]="city.control" error="required" text="Campo obrigatório"></app-message>
        <app-message [control]="city.control" error="maxlength"
          text="Máximo {{city.errors?.['maxlength']?.requiredLength}} caracteres"></app-message>
      </div>
  
      <div class="col-12 md:col-4 p-fluid">
        <label>Estado</label>
        <p-dropdown [readonly]="!auth.hasPermission('INSTALATION_WRITE')" [options]="states" name="state" [(ngModel)]="plant.address.state" optionLabel="display" optionValue="value"
          placeholder="Selecione um estado" [filter]="true" [required]="true"></p-dropdown>
      </div>

    </div>

    <div class="grid">
      <div class="col-12 flex align-items-center justify-content-start mt-4">
        <button *ngIf="auth.hasPermission('INSTALATION_WRITE')" [disabled]="!f.valid" pButton type="submit">Salvar</button>
        <button *ngIf="auth.hasPermission('INSTALATION_WRITE')" (click)="newPlant(f)" class="p-button-info ml-1" pButton type="button">Novo</button>
        <a class="ml-1" routerLink="/plants">Voltar para a listagem</a>
      </div>
    </div>
  </form>
</div>