<div class="container">
  <div class="grid flex flex-row align-items-center">
    <div class="col">
      <h1>Válvulas de Segurança</h1>
    </div>
    <div *ngIf="auth.hasPermission('EQUIPMENT_WRITE')" class="col-4 md:col-2 p-fluid">
      <a routerLink="/pressure-safety-valves/create" pButton icon="pi pi-plus" label="Nova" pTooltip="Nova Válvula de Segurança"
        tooltipPosition="top"></a>
    </div>
  </div>

  <form (submit)="search()">
    <div class="grid">
      <div class="col-12 md:col-2 p-fluid">
        <label for="">Id</label>
        <input pInputText [(ngModel)]="filter.id" name="id" type="text">
      </div>
      <div class="col-12 md:col-2 p-fluid">
        <label for="">Tag</label>
        <input pInputText [(ngModel)]="filter.tag" name="tag" type="text">
      </div>
      <div class="col-12 md:col p-fluid">
        <label for="">Pressão de abertura (kgf/cm²)</label>
        <input pInputText [(ngModel)]="filter.openingPressure" name="openingPressure" type="number">
      </div>
      <div class="col-12 md:col p-fluid">
        <label for="">Pressão de fechamento (kgf/cm²)</label>
        <input pInputText [(ngModel)]="filter.closingPressure" name="closingPressure" type="number">
      </div>
      <div class="col-12 md:col-2 p-fluid">
        <label for="">Código da Planta</label>
        <input pInputText [(ngModel)]="filter.plantCode" name="plantCode" type="text">
      </div>
    </div>
    <div class="grid mb-4">
      <div class="md:col"></div>
      <div class="col-6 md:col-2 p-fluid">
        <p-selectButton (onOptionClick)="search()" [options]="statusOptions" [(ngModel)]="filter.status" name="status"
          optionLabel="label" optionValue="value"></p-selectButton>
      </div>
      <div class="col-6 md:col-2 p-fluid">
        <button pButton icon="pi pi-search" label="Pesquisar" style="margin-bottom: 0;"></button>
      </div>
    </div>
  </form>

  <div class="grid">
    <div class="col">
      <p-table styleClass="p-datatable-sm p-datatable-gridlines" [value]="pressureSafetyValves" [paginator]="true" [lazy]="true"
        [totalRecords]="totalElements" (onLazyLoad)="onChangePage($event)" [rows]="5" responsiveLayout='stack'
        [breakpoint]="'960px'" [tableStyle]="{ 'min-width': '1rem' }" #table>
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Tag</th>
            <th class="col-values-header">Pressão de abertura</th>
            <th class="col-values-header">Pressão de fechamento</th>
            <th>Planta</th>
            <th>Status</th>
            <th class="col-actions-header">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-psv>
          <tr>
            <td>
              <span class="p-column-title">Id</span>
              {{ psv.id }}
            </td>
            <td>
              <span class="p-column-title">Tag</span>
              {{ psv.tag }}
            </td>
            <td>
              <span class="p-column-title">Pressão de abertura</span>
              {{ psv.openingPressure }} kgf/cm²
            </td>
            <td>
              <span class="p-column-title">Pressão de fechamento</span>
              {{ psv.closingPressure }} kgf/cm²
            </td>
            <td>
              <span class="p-column-title">Planta</span>
              {{ psv.plant.code }}
            </td>
            <td>
              <span class="p-column-title">Status</span>
              {{ psv.active ? 'Ativo' : 'Inativo' }}
            </td>
            <td class="col-actions">
              <a routerLink="/pressure-safety-valves/{{psv.id}}" pButton icon="pi pi-pencil" pTooltip="Editar"
                tooltipPosition="top"></a>
              <button *ngIf="auth.hasPermission('INSTALATION_WRITE') && filter.status === 'active'" pButton
                (click)="inactivate(psv.id)" icon="pi pi-trash" pTooltip="Inativar"
                tooltipPosition="top"></button>
              <button *ngIf="auth.hasPermission('INSTALATION_WRITE') && filter.status === 'inactive'" pButton
                (click)="activate(psv.id)" icon="pi pi-undo" pTooltip="Ativar" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>