<div class="form-login flex flex-column align-items-center justify-content-center">
  <h1>Login</h1>

  <form #f="ngForm" (submit)="login()" autocomplete="off">
    <div class="grid flex flex-column justify-content-center align-items-center">
      <div class="col-12 p-fluid">
        <input class="login-input" type="email" name="email" [(ngModel)]="email" pInputText
          placeholder="E-mail" [required]="true"/>
      </div>
      <div class="col-12 p-fluid">
        <p-password class="login-input" name="password" [(ngModel)]="password"
          [toggleMask]="true" placeholder="Senha" [feedback]="false" [required]="true"></p-password>
      </div>
    </div>
    <div class="grid mt-4">
      <div class="col-12 p-fluid">
        <p-button [disabled]="!f.valid" type="submit" label="Entrar"></p-button>
      </div>
    </div>
  </form>

</div>