<div class="container">
  <div class="grid flex flex-row align-items-center">
    <div class="col">
      <h1>Áreas</h1>
    </div>
    <div *ngIf="auth.hasPermission('INSTALATION_WRITE')" class="col-4 md:col-2 p-fluid">
      <a routerLink="/areas/create" pButton icon="pi pi-plus" label="Nova" pTooltip="Nova Área" tooltipPosition="top"></a>
    </div>
  </div>

  <form (submit)="search()">
    <div class="grid">
      <div class="col-12 md:col-2 p-fluid">
        <label for="">Id</label>
        <input pInputText [(ngModel)]="filter.id" name="id" name="id" type="text">
      </div>
      <div class="col-12 md:col-2 p-fluid">
        <label for="">Código</label>
        <input pInputText [(ngModel)]="filter.code" name="code" type="text">
      </div>
      <div class="col-12 md:col-6 p-fluid">
        <label for="">Nome</label>
        <input pInputText [(ngModel)]="filter.name" name="name" type="text">
      </div>
      <div class="col-12 md:col p-fluid">
        <label for="">Planta</label>
        <input pInputText [(ngModel)]="filter.plantCode" name="plantCode" type="text">
      </div>
    </div>
    <div class="grid mb-4">
      <div class="md:col"></div>
      <div class="col-6 md:col-2 p-fluid">
        <p-selectButton (onOptionClick)="search()" [options]="statusOptions" [(ngModel)]="filter.status" name="status"
          optionLabel="label" optionValue="value"></p-selectButton>
      </div>
      <div class="col-6 md:col-2 p-fluid">
        <button pButton icon="pi pi-search" label="Pesquisar" style="margin-bottom: 0;"></button>
      </div>
    </div>
  </form>

  <div class="grid">
    <div class="col">
      <p-table 
        tyleClass="p-datatable-sm p-datatable-gridlines"
        [value]="areas"
        [paginator]="true"
        [lazy]="true"
        [totalRecords]="totalElements"
        (onLazyLoad)="onChangePage($event)"
        [rows]="5"
        responsiveLayout='stack'
        [breakpoint]="'960px'"
        [tableStyle]="{ 'min-width': '1rem' }"
        #table>
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Código</th>
            <th>Nome</th>
            <th>Planta</th>
            <th>Status</th>
            <th class="col-actions-header">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-area>
          <tr>
            <td>
              <span class="p-column-title">Id</span>
              {{ area.id }}
            </td>
            <td>
              <span class="p-column-title">Código</span>
              {{ area.code }}
            </td>
            <td>
              <span class="p-column-title">Nome</span>
              {{ area.name }}
            </td>
            <td>
              <span class="p-column-title">Planta</span>
              {{ area.plant.code }}
            </td>
            <td>
              <span class="p-column-title">Status</span>
              {{ area.active ? 'Ativo' : 'Inativo' }}
            </td>
            <td class="col-actions">
              <a routerLink="/areas/{{area.id}}" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button
                *ngIf="auth.hasPermission('INSTALATION_WRITE') && filter.status === 'active'"
                pButton
                (click)="inactivate(area.id)"
                icon="pi pi-trash"
                pTooltip="Inativar"
                tooltipPosition="top"></button>
              <button
                *ngIf="auth.hasPermission('INSTALATION_WRITE') && filter.status === 'inactive'"
                pButton
                (click)="activate(area.id)"
                icon="pi pi-undo"
                pTooltip="Ativar"
                tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>