<div class="container">

  <div class="grid">
    <div class="col-12">
      <h1>{{ !auth.hasPermission('INTERVENTION_WRITE') ? 'Detalhe' : updating ? 'Atualização' : 'Cadastro'}} de
        Calibração</h1>
    </div>
  </div>

  <form #f="ngForm" (submit)="save(f)">
    <div class="grid">
      <div class="col-12">
        <h3>Dispositivo</h3>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-3 p-fluid">
        <label>Planta</label>
        <p-autoComplete dropdownMode="current" [readonly]="!auth.hasPermission('INTERVENTION_WRITE')" [required]="true"
          name="plant" [(ngModel)]="selectedPlant" [suggestions]="plants" [forceSelection]="true"
          (completeMethod)="updatePlantList($event.query)" field="code"></p-autoComplete>
      </div>

      <div *ngIf="selectedPlant?.id" class="col-12 md:col-3 p-fluid">
        <label>Dispositivo</label>
        <p-autoComplete [readonly]="!auth.hasPermission('INTERVENTION_WRITE')" [disabled]="!selectedPlant?.id"
          [(ngModel)]="calibration.device" [required]="true" name="device" [suggestions]="devices"
          [forceSelection]="true" [required]="true" (completeMethod)="updateDeviceList($event.query)"
          field="tag"></p-autoComplete>
      </div>
    </div>

    <div class="grid">
      <div class="col-12">
        <h3>Dados gerais</h3>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-3 p-fluid">
        <label>Empresa executante</label>
        <input [readOnly]="!auth.hasPermission('INTERVENTION_WRITE')" pInputText type="text" name="executorCompany"
          [(ngModel)]="calibration.executorCompany" ngModel #executorCompany="ngModel" [required]="true"
          [maxlength]="40">
        <app-message [control]="executorCompany.control" error="required" text="Campo obrigatório"></app-message>
      </div>

      <div class="col-12 md:col-2 p-fluid">
        <label>Data da execução</label>
        <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="calibration.executionDate" name="executionDate" ngModel
          #executionDate="ngModel"></p-calendar>
        <app-message [control]="executorCompany.control" error="required" text="Campo obrigatório"></app-message>
      </div>

      <div class="col-12 md:col-2 p-fluid">
        <label>Número do relatório</label>
        <input [readOnly]="!auth.hasPermission('INTERVENTION_WRITE')" pInputText type="text" name="reportNumber"
          [(ngModel)]="calibration.reportNumber" ngModel #reportNumber="ngModel" [maxlength]="20">
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label>Situação</label>
        <p-dropdown [options]="statusOptions" name="status" [(ngModel)]="calibration.status" optionLabel="label"
          optionValue="value"></p-dropdown>
      </div>

      <div class="col-12 md:col-2 p-fluid">
        <label>Custo (R$)</label>
        <input [readOnly]="!auth.hasPermission('INTERVENTION_WRITE')" pInputText type="number" name="cost"
          [(ngModel)]="calibration.cost">
      </div>

      <div class="col-12 p-fluid">
        <label>Comentários</label>
        <textarea rows="5" pInputTextarea name="comments" [(ngModel)]="calibration.comments"></textarea>
      </div>

    </div>

    <div *ngIf="auth.hasPermission('INTERVENTION_WRITE')" class="grid">

      <div *ngIf="calibration.id && !calibration?.file?.name" class="col-6 col-offset-6 md:col-2 md:col-offset-10 p-fluid">
        <p-fileUpload *ngIf="!calibration?.file?.name" [style]="{'width':'100%'}" name="file" mode="basic"
          [auto]="false" [maxFileSize]="2097152" chooseLabel="Anexar relatório" accept="application/pdf"
          [headers]="uploadHeaders" method="put" [url]="urlUploadReport" (onUpload)="afterUpload()"></p-fileUpload>
      </div>

      <div *ngIf="calibration.id && calibration?.file?.name" class="col-12 md:col-8 md:col-offset-4">
        <div class="flex flex-row justify-content-end align-items-center">
          <a class="mr-1" href="javascript:void(0)" (click)="downloadReport(calibration.id)">{{calibration.file.name}}</a>
          <button *ngIf="calibration?.file?.name" pButton type="button" (click)="deleteReport()">Excluir relatório</button>
        </div>
      </div>

    </div>

    <div class="grid">
      <div class="col-12 flex align-items-center justify-content-start mt-4">
        <button *ngIf="auth.hasPermission('INTERVENTION_WRITE')" [disabled]="!f.valid" pButton
          type="submit">Salvar</button>
        <button *ngIf="auth.hasPermission('INTERVENTION_WRITE')" (click)="newCalibration(f)" class="p-button-info ml-1"
          routerLink="/calibrations/create" pButton type="button">Novo</button>
        <a class="ml-1" routerLink="/calibrations">Voltar para a listagem</a>
      </div>
    </div>
  </form>

</div>