<div class="container">

  <div class="grid">
    <div class="col-12">
      <h1>{{ !auth.hasPermission('INTERVENTION_WRITE') ? 'Detalhe' : updating ? 'Atualização' : 'Cadastro'}} de
        Inspeção</h1>
    </div>
  </div>

  <form #f="ngForm" (submit)="save(f)">
    <p-tabView>

      <p-tabPanel header="Inspeção">

        <div class="grid">
          <div class="col-12">
            <h3>Dados gerais</h3>
          </div>
        </div>

        <div class="grid">

          <div class="col-12 md:col-3 p-fluid">
            <label>Planta</label>
            <p-autoComplete dropdownMode="current" [readonly]="!auth.hasPermission('INTERVENTION_WRITE')"
              [required]="true" name="plant" [(ngModel)]="selectedPlant" [suggestions]="plants" [forceSelection]="true"
              (completeMethod)="updatePlantList($event.query)" field="code"></p-autoComplete>
          </div>

          <div *ngIf="selectedPlant?.id" class="col-12 md:col-3 p-fluid">
            <label>Equipamento</label>
            <p-autoComplete [readonly]="!auth.hasPermission('INTERVENTION_WRITE')" [disabled]="!selectedPlant.id"
              [(ngModel)]="inspection.equipment" [required]="true" name="equipment" [suggestions]="equipments"
              [forceSelection]="true" [required]="true" (completeMethod)="updateEquipmentList($event.query)"
              field="tag"></p-autoComplete>
          </div>

          <div *ngIf="selectedPlant.id" class="col-12 md:col-4 p-fluid">
            <label>Teste</label>
            <p-dropdown [(ngModel)]="selectedTest.id" name="selectedTest" [options]="tests"
              [placeholder]="'Selecione um teste'" (onChange)="onSelectTest($event.value)" optionLabel="name"
              optionValue="id">
            </p-dropdown>
          </div>

        </div>

        <div class="grid">
          <div class="col-12">
            <h3>Dados gerais</h3>
          </div>
        </div>

        <div class="grid">

          <div class="col-12 md:col-3 p-fluid">
            <label>Empresa executante</label>
            <input [readOnly]="!auth.hasPermission('INTERVENTION_WRITE')" pInputText type="text" name="executorCompany"
              [(ngModel)]="inspection.executorCompany" ngModel #executorCompany="ngModel" [required]="true"
              [maxlength]="40">
            <app-message [control]="executorCompany.control" error="required" text="Campo obrigatório"></app-message>
          </div>

          <div class="col-12 md:col-2 p-fluid">
            <label>Data da execução</label>
            <p-calendar dataType="string" dateFormat="dd/mm/yy" [(ngModel)]="inspection.executionDate"
              name="executionDate" ngModel #executionDate="ngModel"></p-calendar>
            <app-message [control]="executorCompany.control" error="required" text="Campo obrigatório"></app-message>
          </div>

          <div class="col-12 md:col-2 p-fluid">
            <label>Número do relatório</label>
            <input [readOnly]="!auth.hasPermission('INTERVENTION_WRITE')" pInputText type="text" name="reportNumber"
              [(ngModel)]="inspection.reportNumber" ngModel #reportNumber="ngModel" [maxlength]="20">
          </div>

          <div class="col-12 md:col-3 p-fluid">
            <label>Situação</label>
            <p-dropdown [options]="statusOptions" name="status" [(ngModel)]="inspection.status" optionLabel="label"
              optionValue="value"></p-dropdown>
          </div>

          <div class="col-12 md:col-2 p-fluid">
            <label>Custo (R$)</label>
            <input [readOnly]="!auth.hasPermission('INTERVENTION_WRITE')" pInputText type="number" name="cost"
              [(ngModel)]="inspection.cost">
          </div>

          <div class="col-12 p-fluid">
            <label>Comentários</label>
            <textarea rows="5" pInputTextarea name="comments" [(ngModel)]="inspection.comments"></textarea>
          </div>

        </div>

        <div *ngIf="auth.hasPermission('INTERVENTION_WRITE')" class="grid">

          <div *ngIf="inspection.id && !inspection?.file?.name"
            class="col-6 col-offset-6 md:col-2 md:col-offset-10 p-fluid">
            <p-fileUpload *ngIf="!inspection?.file?.name" [style]="{'width':'100%'}" name="file" mode="basic"
              [auto]="false" [maxFileSize]="2097152" chooseLabel="Anexar relatório" accept="application/pdf"
              [headers]="uploadHeaders" method="put" [url]="urlUploadReport" (onUpload)="afterUpload()"></p-fileUpload>
          </div>

          <div *ngIf="inspection.id && inspection?.file?.name" class="col-12 md:col-8 md:col-offset-4">
            <div class="flex flex-row justify-content-end align-items-center">
              <a class="mr-1" href="javascript:void(0)"
                (click)="downloadReport(inspection.id)">{{inspection.file.name}}</a>
              <button *ngIf="inspection?.file?.name" pButton type="button" (click)="deleteReport()">Excluir
                relatório</button>
            </div>
          </div>

        </div>

      </p-tabPanel>

      <p-tabPanel *ngIf="inspection.id" header="Ações geradas">

        <div class="grid">
          <div class="col-12">
            <h3>Ações geradas</h3>
          </div>
        </div>

        <div class="grid">
          <div class="col">
            <p-panel header="Pendências geradas durante a inspeção">
              <p-button (click)="pendencyDialogVisible = true" styleClass="mb-2 p-button-secondary" type="button"
                label="Adicionar"></p-button>
              <p-table styleClass="p-datatable-sm p-datatable-gridlines" [value]="pendencies" responsiveLayout='stack'
                [breakpoint]="'960px'" [tableStyle]="{ 'min-width': '1rem' }" #pendencyTable>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Autor</th>
                    <th>Responsável</th>
                    <th>Descrição</th>
                    <th>Prazo</th>
                    <th>Status</th>
                    <th class="col-actions-header">Ação</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pendency>
                  <tr>
                    <td>
                      <span class="p-column-title">Id</span>
                      {{ pendency?.author?.name }}
                    </td>
                    <td>
                      <span class="p-column-title">Responsável</span>
                      {{ pendency?.responsible?.name }}
                    </td>
                    <td>
                      <span class="p-column-title">Descrição</span>
                      {{ pendency.description }}
                    </td>
                    <td>
                      <span class="p-column-title">Prazo</span>
                      {{ pendency.deadLine | date: 'dd/MM/yyyy' }}
                    </td>
                    <td>
                      <span class="p-column-title">Status</span>
                      {{ pendency.status }}
                    </td>
                    <td class="col-actions">
                      <button class="mr-1" type="button" *ngIf="auth.hasPermission('EQUIPMENT_WRITE')" pButton
                        icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                        (click)="editPendency(pendency.id)"></button>
                      <button type="button" *ngIf="auth.hasPermission('EQUIPMENT_WRITE')" pButton
                        (click)="deletePendency(pendency.id)" icon="pi pi-trash" pTooltip="Excluir"
                        tooltipPosition="top"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-panel>

          </div>
        </div>

      </p-tabPanel>

    </p-tabView>

    <p-divider></p-divider>

    <div class="grid">
      <div class="col-12 flex align-items-center justify-content-start mt-4">
        <button *ngIf="auth.hasPermission('EQUIPMENT_WRITE')" [disabled]="!f.valid" pButton
          type="submit">Salvar</button>
        <button *ngIf="auth.hasPermission('EQUIPMENT_WRITE')" (click)="newInspection(f)" class="p-button-info ml-1"
          pButton type="button">Novo</button>
        <a class="ml-1" routerLink="/inspections">Voltar para a listagem</a>
      </div>
    </div>

  </form>

  <p-dialog header="Nova Pendência" [(visible)]="pendencyDialogVisible" [modal]="true" [style]="{width: '70vw'}">
    <div class="grid">
      <div class="col-12 md:col-3 p-fluid">
        <label>Tipo de pendência</label>
        <p-dropdown [options]="pendencyTypeOptions" [(ngModel)]="pendencyToSave.type" optionLabel="label" name="type"
          optionValue="value">
        </p-dropdown>
      </div>
      <div class="col-12 md:col-3 p-fluid">
        <label>Status</label>
        <p-dropdown [options]="pendencyStatusOptions" [(ngModel)]="pendencyToSave.status" optionLabel="label"
          optionValue="value">
        </p-dropdown>
      </div>
      <div class="col-12 md:col-3 p-fluid">
        <label>Prazo</label>
        <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="pendencyToSave.deadLine" name="deadLine" ngModel
          #deadLine="ngModel"></p-calendar>
        <app-message [control]="deadLine.control" error="required" text="Campo obrigatório"></app-message>
      </div>
      <div class="col-12 md:col-3 p-fluid">
        <label>Custo (R$)</label>
        <input [readOnly]="!auth.hasPermission('INSTALATION_WRITE')" pInputText type="number" name="cost"
          [(ngModel)]="pendencyToSave.cost" ngModel #name="ngModel">
      </div>
      <div class="col-12 md:col-4 p-fluid">
        <label>Responsável</label>
        <p-autoComplete [readonly]="!auth.hasPermission('EQUIPMENT_WRITE')" [required]="true" name="responsible"
          [(ngModel)]="pendencyToSave.responsible" [suggestions]="pendencyResponsibleOptions" [forceSelection]="true"
          [required]="true" (completeMethod)="updateResponsibleList($event.query)" field="name"></p-autoComplete>
      </div>
      <div class="col-12 md:col-12 p-fluid">
        <label>Descrição</label>
        <textarea [readOnly]="!auth.hasPermission('EQUIPMENT_WRITE')" rows="5" cols="30" pInputTextarea
          [(ngModel)]="pendencyToSave.description" ngModel #tag="ngModel" [required]="true"
          name="description"></textarea>
      </div>
      <div class="col-12 md:col-12 p-fluid">
        <label>Ação</label>
        <textarea [readOnly]="!auth.hasPermission('EQUIPMENT_WRITE')" rows="5" cols="30" pInputTextarea
          [(ngModel)]="pendencyToSave.action" ngModel #tag="ngModel" [required]="true" name="action"></textarea>
      </div>
    </div>

    <div class="grid">
      <div class="col-12">
        <button type="button" pButton (click)="savePendency()">Salvar</button>
      </div>
    </div>
  </p-dialog>


</div>